html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--color-secondary);
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
.container {
  display: flex;
  margin-top: 1%;
  margin-left: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 1px 5px;
  border: 0;
  border-radius: 1px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container2 {
  margin: 80px auto;
  width: 50%;
  text-align: center;
}


.input {
    margin: 5px;
}

.heading {
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: burlywood;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container-main {
  margin: 10%;
  margin-top: 2%;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 85%;
  padding: 15px;
  margin: 12px 0 5px 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.button {
  background-color: cadetblue;
  color: white;
  padding: 10px 0;
  margin: 0.5% 30%;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
}


/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

h1{
  text-align: center;
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: mediumspringgreen;
  color: black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: floralwhite;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
tr:hover{
  background-color: #ddd;
}

td, th {
  border: 1px solid cornflowerblue;
  text-align: left;
  padding: 8px;
}