.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #f3f3f3; 
}
  
.title {
    color: grey;
    font-size: 18px;
}
  